<launch>
  <arg name="port" default="1234"/>
  <arg name="odomFrame" default="odom"/>
  <arg name="HoloLinkedFrame" default="Head"/>
  <arg name="baseFrame" default="base_footprint"/>
  <arg name="calibrationFile" default="calibrationData.bin"/>
  <arg name="HoloLens_ip" />
  <node pkg="map_server" type="map_server" name="map_server" args="$(find navigation_launcher)/params/map.yaml" output="screen"/> 
  <node pkg="hololens_ros_bridge" type="hololens_ros_bridge_node" name="hololens_ros_bridge_node" args="$(arg HoloLens_ip) $(arg port)"/>
  <node pkg="hololens_localizer" type="static_calibration" name="static_calibration" args="$(arg odomFrame) $(arg HoloLinkedFrame) $(arg baseFrame) $(arg calibrationFile)" output="screen" launch-prefix="xterm -e"/> 
  <node pkg="hololens_localizer" type="dynamic_adjuster.py" name="online_adjuster" />
  <node pkg="hololens_localizer" type="anchor_localizer" name="anchor_localizer" />  
</launch>